@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Single+Day&family=Source+Sans+3&display=swap');

body {
    background-color: #303446;
    font-size: 30px;
}

.heading {
    font-family: 'Source Sans 3';
    text-align: center;
    font-size: 60px;
    color: #fafafa;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-flex{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap:30px;


    
}

img{
    border-radius: 20px;
    height: 25vh;
    width: 30vh;
    transition: all 0.2s ease-in-out;
}

.element{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    border: rgba(255, 255, 255, 0.3) 2px solid;
    padding: 1rem;
}

img:hover{
    border-radius: 20px;
    height: 30vh;
    width: 35vh;
}







.card-title{
    font-size: 2vw;
    font-family: 'Roboto';
    color: white;
    width: 25vw;
    padding-top: 1vw;

}

.card-text{
    padding-top: 12px;
    font-family: 'Roboto';
    color:white;
    font-size: 1vw;
    width: 25vw;
    
}